<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!--Metas de Móvil -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Metas de Sitio Web -->
    <title>@ViewBag.Title - Administración</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- ======================================================================================================== -->
    <!-- =                                                   CSS                                                  -->
    <!-- ======================================================================================================== -->
    <!-- Fuente Google -->
    @Styles.Render("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback")
    <!--CSS FontAwesome -->
    @Styles.Render("~/Content/administracion/fontawesome-free/css/all.min.css")
    <!-- Ionicons -->
    @Styles.Render("https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    <!-- Tempusdominus Bootstrap 4 -->
    @Styles.Render("~/Content/administracion/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css")
    <!-- iCheck -->
    @Styles.Render("~/Content/administracion/icheck-bootstrap/icheck-bootstrap.min.css")
    <!-- JQVMap -->
    @Styles.Render("~/Content/administracion/jqvmap/jqvmap.min.css")
    <!-- Theme style -->
    @Styles.Render("~/Content/administracion/dist/css/adminlte.min.css")
    <!-- overlayScrollbars -->
    @Styles.Render("~/Content/administracion/overlayScrollbars/css/OverlayScrollbars.min.css")
    <!-- Daterange picker -->
    @Styles.Render("~/Content/administracion/daterangepicker/daterangepicker.css")
    <!-- summernote -->
    @Styles.Render("~/Content/administracion/summernote/summernote-bs4.min.css")
    <!-- DataTables -->
    @Styles.Render("~/Content/administracion/datatables-bs4/css/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/administracion/datatables-responsive/css/responsive.bootstrap4.min.css")
    @Styles.Render("~/Content/administracion/datatables-buttons/css/buttons.bootstrap4.min.css")
    <!-- Estilo modales -->
    @Styles.Render("~/Content/administracion/EstiloModales.css")
    <!-- Date range picker -->
    @Styles.Render("~/Content/administracion/daterangepicker/daterangepicker.css")
    <!-- Select2 -->
    @Styles.Render("~/Content/administracion/select2/css/select2.min.css")
    @Styles.Render("~/Content/administracion/select2-bootstrap4-theme/select2-bootstrap4.min.css")
    <!-- Listas duales -->
    @Styles.Render("~/Content/administracion/bootstrap4-duallistbox/bootstrap-duallistbox.min.css")

    <!-- SweetAlert2 -->
    @Styles.Render("~/Content/administracion/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")
    <!-- Toast-->
    @Styles.Render("~/Content/administracion/toastr/toastr.min.css")


</head>
<!-- ======================================================================================================== -->
<!-- =                                             PLANTILLA                                                  -->
<!-- ======================================================================================================== -->
<body class="hold-transition sidebar-mini layout-fixed">
    @{
        string pageUrl = Request.Url.PathAndQuery.ToString();
    }
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-dark navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="fa fa-user-cog"></i>
                        Gestionar cuenta
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <div class="dropdown-divider"></div>
                        <a href="@Url.Action("EditarCuenta", "Administrador")" class="dropdown-item">
                            <i class="fas fa-user-edit mr-2"></i> Editar cuenta
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="@Url.Action("ActualizarContraseña", "Administrador")" class="dropdown-item">
                            <i class="fas fa-user-lock mr-2"></i> Actualizar contraseña
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-door-open mr-2"></i> Cerrar sesión
                        </a>
                        <div class="dropdown-divider"></div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-navy elevation-4">
            <!-- Brand Logo -->
            <a href="@Url.Action("Inicio", "Cliente")" class="brand-link">
                <img src="~/Content/imagenes/logo2.png" alt="Logo BurgerCity" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-bold">BurgerCity</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Content/imagenes/Fotos de perfil/usuario.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Saúl Castillo</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                <div class="form-inline">
                    <div class="input-group" data-widget="sidebar-search">
                        <input class="form-control form-control-sidebar" type="search" placeholder="Buscar opción" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn btn-sidebar">
                                <i class="fas fa-search fa-fw"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="@Url.Action("Inicio", "Administrador")" class="nav-link @(pageUrl.ToLower().Contains("/administrador/inicio") || pageUrl.ToLower().Equals("/administrador") ? "active" : string.Empty)">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Inicio
                                </p>
                            </a>
                        </li>
                        <li class="nav-item @(pageUrl.ToLower().Contains("/administrador/roles") || pageUrl.ToLower().Contains("/administrador/empleados") || pageUrl.ToLower().Contains("/administrador/clientes") ? "menu-open" : string.Empty)">
                            <a href="#" class="nav-link  @(pageUrl.ToLower().Contains("/administrador/roles") || pageUrl.ToLower().Contains("/administrador/empleados") || pageUrl.ToLower().Contains("/administrador/clientes") ? "active" : string.Empty)">
                                <i class="nav-icon fas fa-user-circle"></i>
                                <p>
                                    Gestionar usuarios
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Roles", "Administrador")" class="nav-link @(pageUrl.ToLower().Contains("/administrador/roles") ? "active" : string.Empty)">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Roles</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Empleados", "Administrador")" class="nav-link @(pageUrl.ToLower().Contains("/administrador/empleados") ? "active" : string.Empty)">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Empleados</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Clientes", "Administrador")" class="nav-link @(pageUrl.ToLower().Contains("/administrador/clientes") ? "active" : string.Empty)">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Clientes</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item @(pageUrl.ToLower().Contains("/administrador/categorias") || pageUrl.ToLower().Contains("/administrador/estados") || pageUrl.ToLower().Contains("/administrador/productos") || pageUrl.ToLower().Contains("/administrador/combos") || pageUrl.ToLower().Contains("/administrador/gestionarcombo") || pageUrl.ToLower().Contains("/administrador/ofertas")  ? "menu-open" : string.Empty)">
                            <a href="#" class="nav-link  @(pageUrl.ToLower().Contains("/administrador/categorias") || pageUrl.ToLower().Contains("/administrador/estados") || pageUrl.ToLower().Contains("/administrador/productos") || pageUrl.ToLower().Contains("/administrador/combos") || pageUrl.ToLower().Contains("/administrador/gestionarcombo") || pageUrl.ToLower().Contains("/administrador/ofertas")  ? "active" : string.Empty)">
                                <i class="nav-icon fas fa-hamburger"></i>
                                <p>
                                    Gestionar productos
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Categorias", "Administrador")" class="nav-link  @(pageUrl.ToLower().Contains("/administrador/categorias") ? "active" : string.Empty)">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Categorías</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Estados", "Administrador")" class="nav-link @(pageUrl.ToLower().Contains("/administrador/estados") ? "active" : string.Empty)">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Estados</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Productos", "Administrador")" class="nav-link @(pageUrl.ToLower().Contains("/administrador/productos") ? "active" : string.Empty)">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Productos</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("Combos", "Administrador")" class="nav-link @(pageUrl.ToLower().Contains("/administrador/combos") || pageUrl.ToLower().Contains("/administrador/gestionarcombo") ? "active" : string.Empty)">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Combos</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item @(pageUrl.ToLower().Contains("/administrador/etapas") || pageUrl.ToLower().Contains("/administrador/historialdeordenes") ? "menu-open" : string.Empty)">
                            <a href="#" class="nav-link @(pageUrl.ToLower().Contains("/administrador/etapas") || pageUrl.ToLower().Contains("/administrador/historialdeordenes") ? "active" : string.Empty)">
                                <i class="nav-icon fas fa-shopping-bag"></i>
                                <p>
                                    Gestionar ordenes
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Etapas", "Administrador")" class="nav-link @(pageUrl.ToLower().Contains("/administrador/etapas") ? "active" : string.Empty)">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Etapas</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="@Url.Action("HistorialDeOrdenes", "Administrador")" class="nav-link @(pageUrl.ToLower().Contains("/administrador/historialdeordenes") ? "active" : string.Empty)">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Historial</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- /.sidebar-menu -->
        </aside>
    </div>
    <!-- ======================================================================================================== -->
    <!-- =                                      CUERPO DE PÁGINA                                                  -->
    <!-- ======================================================================================================== -->
    @RenderBody()
    <!-- ======================================================================================================== -->
    <!-- =                                          SCRIPTS                                                       -->
    <!-- ======================================================================================================== -->
    <!-- jQuery -->
    @Scripts.Render("~/Content/administracion/jquery/jquery.min.js")
    <!-- jQuery UI 1.11.4 -->
    @Scripts.Render("~/Content/administracion/jquery-ui/jquery-ui.min.js")
    <!-- Resolviendo conflicto en jQuery UI tooltip con Bootstrap tooltip-->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>
    <!-- Bootstrap 4 -->
    @Scripts.Render("~/Content/administracion/bootstrap/js/bootstrap.bundle.min.js")
    <!-- ChartJS -->
    @Scripts.Render("~/Content/administracion/chart.js/Chart.min.js")
    <!-- Sparkline -->
    @Scripts.Render("~/Content/administracion/sparklines/sparkline.js")
    <!-- JQVMap -->
    @Scripts.Render("~/Content/administracion/jqvmap/jquery.vmap.min.js")
    @Scripts.Render("~/Content/administracion/jqvmap/maps/jquery.vmap.usa.js")
    <!-- jQuery Knob Chart -->
    @Scripts.Render("~/Content/administracion/jquery-knob/jquery.knob.min.js")
    <!-- daterangepicker -->
    @Scripts.Render("~/Content/administracion/moment/moment.min.js")
    @Scripts.Render("~/Content/administracion/moment/locale/es.js")
    @Scripts.Render("~/Content/administracion/daterangepicker/daterangepicker.js")
    <!-- Tempusdominus Bootstrap 4 -->
    @Scripts.Render("~/Content/administracion/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js")
    <!-- Summernote -->
    @Scripts.Render("~/Content/administracion/summernote/summernote-bs4.min.js")
    <!-- overlayScrollbars -->
    @Scripts.Render("~/Content/administracion/overlayScrollbars/js/jquery.overlayScrollbars.min.js")
    <!-- AdminLTE App -->
    @Scripts.Render("~/Content/administracion/dist/js/adminlte.js")
    <!-- AdminLTE for demo purposes -->
    @Scripts.Render("~/Content/administracion/dist/js/demo.js")
    <!-- DataTables -->
    @Scripts.Render("~/Content/administracion/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/administracion/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/administracion/datatables-responsive/js/dataTables.responsive.min.js")
    @Scripts.Render("~/Content/administracion/datatables-responsive/js/responsive.bootstrap4.min.js")
    @Scripts.Render("~/Content/administracion/datatables-buttons/js/dataTables.buttons.min.js")
    @Scripts.Render("~/Content/administracion/datatables-buttons/js/buttons.bootstrap4.min.js")
    <!-- js ZIP-->
    @Scripts.Render("~/Content/administracion/jszip/jszip.min.js")
    <!-- PDF MAKE -->
    @Scripts.Render("~/Content/administracion/pdfmake/pdfmake.min.js")
    @Scripts.Render("~/Content/administracion/pdfmake/vfs_fonts.js")
    <!-- BOTONES DATATABLE-->
    @Scripts.Render("~/Content/administracion/datatables-buttons/js/buttons.html5.min.js")
    @Scripts.Render("~/Content/administracion/datatables-buttons/js/buttons.print.min.js")
    @Scripts.Render("~/Content/administracion/datatables-buttons/js/buttons.colVis.min.js")
    <!--SELECT 2-->
    @Scripts.Render("~/Content/administracion/select2/js/select2.full.min.js")
    <!--LISTAS DUALES-->
    @Scripts.Render("~/Content/administracion/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js")
    <!--INPUT MASKS-->
    @Scripts.Render("~/Content/administracion/inputmask/jquery.inputmask.min.js")
    <!--SWEET2 ALERT-->
    @Scripts.Render("~/Content/administracion/sweetalert2/sweetalert2.min.js")
    <!-- Toastr -->
    @Styles.Render("~/Content/administracion/toastr/toastr.min.js")

    <!-- Calendario -->
    <script>
        $('#calendar').datetimepicker({
            locale: 'es',
            format: 'L',
            inline: true,

        });
    </script>
    <!-- Gráfico Knob -->
    <script>
        /* jQueryKnob */
        $('.knob').knob()
    </script>
    <!-- Gráfico de ventas -->
    <script>
        // Seleccionando gráfico
        var salesGraphChartCanvas = $('#line-chart').get(0).getContext('2d')
        //Datos del gráfico
        var salesGraphChartData = {
            labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', ' Noviembre', 'Diciembre'],
            datasets: [
                {
                    label: 'Ventas [$]',
                    fill: false,
                    borderWidth: 2,
                    lineTension: 0,
                    spanGaps: true,
                    borderColor: '#efefef',
                    pointRadius: 3,
                    pointHoverRadius: 7,
                    pointColor: '#efefef',
                    pointBackgroundColor: '#efefef',
                    data: [2666, 2778, 4912, 3767, 6810, 5670, 4820, 15073, 10687, 8432, 5000, 4000]
                }
            ]
        }
        var salesGraphChartOptions = {
            maintainAspectRatio: false,
            responsive: true,
            legend: {
                display: false
            },
            scales: {
                xAxes: [{
                    ticks: {
                        fontColor: '#efefef'
                    },
                    gridLines: {
                        display: false,
                        color: '#efefef',
                        drawBorder: false
                    }
                }],
                yAxes: [{
                    ticks: {
                        stepSize: 5000,
                        fontColor: '#efefef',
                    },
                    gridLines: {
                        display: true,
                        color: '#efefef',
                        drawBorder: false
                    }
                }]
            }
        }
        var salesGraphChart = new Chart(salesGraphChartCanvas, {
            type: 'line',
            data: salesGraphChartData,
            options: salesGraphChartOptions
        })
    </script>
    <!-- ======================================================================================================== -->
    <!-- =                                      SCRIPTS DE DATATABLES                                             -->
    <!-- ======================================================================================================== -->
    <!-- Tabla 1: TablaOrdenes-Hoy - /Administrador/Inicio -->
    <script>
        $(function () {
            $("#tablaOrdenes-Hoy").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "pageLength": 10,
                "buttons":
                    [
                        { extend: 'pdf', text: 'PDF' },
                        { extend: 'print', text: 'Imprimir' },
                        { extend: 'colvis', text: 'Ver columnas' },

                    ],
                "order": [[0, "desc"]],
                "language": {
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Registro(s) no encontrado(s)",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Sin registros disponibles",
                    infoFiltered: "(Filtrado de _MAX_ registros totales)",
                    paginate:
                    {
                        previous: "Anterior",
                        next: "Siguiente",
                    }
                }
            }).buttons().container().appendTo('#tablaOrdenes-Hoy_wrapper .col-md-6:eq(0)');
        });
    </script>
    <!-- Tabla 2: TablaRoles - /Administrador/Roles -->
    <script>
        $(function () {
            $("#tablaRoles").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "pageLength": 10,
                "buttons":
                    [
                        { extend: 'pdf', text: 'PDF' },
                        { extend: 'print', text: 'Imprimir' },
                        { extend: 'colvis', text: 'Ver columnas' },

                    ],
                "order": [[0, "asc"]],
                "language": {
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Registro(s) no encontrado(s)",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Sin registros disponibles",
                    infoFiltered: "(Filtrado de _MAX_ registros totales)",
                    paginate:
                    {
                        previous: "Anterior",
                        next: "Siguiente",
                    }
                }
            }).buttons().container().appendTo('#tablaRoles_wrapper .col-md-6:eq(0)');
        });
    </script>
    <!-- Tabla 3: TablaEmpleados - /Administrador/Empleados -->
    <script>
        $(function () {
            $("#tablaEmpleados").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "pageLength": 10,
                "buttons":
                    [
                        { extend: 'pdf', text: 'PDF' },
                        { extend: 'print', text: 'Imprimir' },
                        { extend: 'colvis', text: 'Ver columnas' },

                    ],
                "order": [[0, "asc"], [1, "asc"], [2, "asc"]],
                "language": {
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Registro(s) no encontrado(s)",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Sin registros disponibles",
                    infoFiltered: "(Filtrado de _MAX_ registros totales)",
                    paginate:
                    {
                        previous: "Anterior",
                        next: "Siguiente",
                    }
                }
            }).buttons().container().appendTo('#tablaEmpleados_wrapper .col-md-6:eq(0)');
        });
    </script>
    <!-- Tabla 4: TablaClientes - /Administrador/Clientes -->
    <script>
        $(function () {
            $("#tablaClientes").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "pageLength": 10,
                "buttons":
                    [
                        { extend: 'pdf', text: 'PDF' },
                        { extend: 'print', text: 'Imprimir' },
                        { extend: 'colvis', text: 'Ver columnas' },

                    ],
                "order": [[1, "asc"], [2, "asc"]],
                "language": {
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Registro(s) no encontrado(s)",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Sin registros disponibles",
                    infoFiltered: "(Filtrado de _MAX_ registros totales)",
                    paginate:
                    {
                        previous: "Anterior",
                        next: "Siguiente",
                    }
                }
            }).buttons().container().appendTo('#tablaClientes_wrapper .col-md-6:eq(0)');
        });
    </script>
    <!-- Tabla 4: TablaCategorias - /Administrador/Categorias -->
    <script>
        $(function () {
            $("#tablaCategorias").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "pageLength": 5,
                "buttons":
                    [
                        { extend: 'pdf', text: 'PDF' },
                        { extend: 'print', text: 'Imprimir' },
                        { extend: 'colvis', text: 'Ver columnas' },

                    ],
                "order": [[0, "asc"]],
                "language": {
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Registro(s) no encontrado(s)",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Sin registros disponibles",
                    infoFiltered: "(Filtrado de _MAX_ registros totales)",
                    paginate:
                    {
                        previous: "Anterior",
                        next: "Siguiente",
                    }
                }
            }).buttons().container().appendTo('#tablaCategorias_wrapper .col-md-6:eq(0)');
        });
    </script>
    <!-- Tabla 5: TablaEstados - /Administrador/Estados -->
    <script>
        $(function () {
            $("#tablaEstados").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "pageLength": 10,
                "buttons":
                    [
                        { extend: 'pdf', text: 'PDF' },
                        { extend: 'print', text: 'Imprimir' },
                        { extend: 'colvis', text: 'Ver columnas' },

                    ],
                "order": [[0, "asc"]],
                "language": {
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Registro(s) no encontrado(s)",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Sin registros disponibles",
                    infoFiltered: "(Filtrado de _MAX_ registros totales)",
                    paginate:
                    {
                        previous: "Anterior",
                        next: "Siguiente",
                    }
                }
            }).buttons().container().appendTo('#tablaEstados_wrapper .col-md-6:eq(0)');
        });
    </script>
    <!-- Tabla 6: TablaProductos - /Administrador/Productos -->
    <script>
        $(function () {
            $("#tablaProductos").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "pageLength": 5,
                "buttons":
                    [
                        { extend: 'pdf', text: 'PDF' },
                        { extend: 'print', text: 'Imprimir' },
                        { extend: 'colvis', text: 'Ver columnas' },

                    ],
                "order": [[3, "asc"]],
                "language": {
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Registro(s) no encontrado(s)",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Sin registros disponibles",
                    infoFiltered: "(Filtrado de _MAX_ registros totales)",
                    paginate:
                    {
                        previous: "Anterior",
                        next: "Siguiente",
                    }
                }
            }).buttons().container().appendTo('#tablaProductos_wrapper .col-md-6:eq(0)');
        });
    </script>
    <!-- Tabla 7: TablaCombos - /Administrador/Combos -->
    <script>
        $(function () {
            $("#tablaCombos").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "pageLength": 5,
                "buttons":
                    [
                        { extend: 'pdf', text: 'PDF' },
                        { extend: 'print', text: 'Imprimir' },
                        { extend: 'colvis', text: 'Ver columnas' },

                    ],
                "order": [[0, "asc"]],
                "language": {
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Registro(s) no encontrado(s)",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Sin registros disponibles",
                    infoFiltered: "(Filtrado de _MAX_ registros totales)",
                    paginate:
                    {
                        previous: "Anterior",
                        next: "Siguiente",
                    }
                }
            }).buttons().container().appendTo('#tablaCombos_wrapper .col-md-6:eq(0)');
        });
    </script>
    <!-- Tabla 8: tablaAgregarProductos- - /Administrador/Combos -->
    <script>
        $(function () {
            $("#tablaAgregarProductos").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "pageLength": 5,
                "order": [[3, "asc"]],
                "language": {
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Registro(s) no encontrado(s)",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Sin registros disponibles",
                    infoFiltered: "(Filtrado de _MAX_ registros totales)",
                    paginate:
                    {
                        previous: "Anterior",
                        next: "Siguiente",
                    }
                }
            });
        });
    </script>
    <!-- Tabla 9: tablaProductosCombo-Eliminar - /Administrador/Combos -->
    <script>
        $(function () {
            $("#tablaProductosCombo-Eliminar").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "pageLength": 5,
                "order": [[3, "desc"]],
                "language": {
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Registro(s) no encontrado(s)",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Sin registros disponibles",
                    infoFiltered: "(Filtrado de _MAX_ registros totales)",
                    paginate:
                    {
                        previous: "Anterior",
                        next: "Siguiente",
                    }
                }
            });
        });
    </script>
    <!-- Tabla 10: tablaEtapas - /Administrador/Etapas -->
    <script>
        $(function () {
            $("#tablaEtapas").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "pageLength": 5,
                "buttons":
                    [
                        { extend: 'pdf', text: 'PDF' },
                        { extend: 'print', text: 'Imprimir' },
                        { extend: 'colvis', text: 'Ver columnas' },

                    ],
                "order": [[0, "asc"]],
                "language": {
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Registro(s) no encontrado(s)",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Sin registros disponibles",
                    infoFiltered: "(Filtrado de _MAX_ registros totales)",
                    paginate:
                    {
                        previous: "Anterior",
                        next: "Siguiente",
                    }
                }
            }).buttons().container().appendTo('#tablaEtapas_wrapper .col-md-6:eq(0)');
        });
    </script>
    <!-- Tabla 1: TablaOrdenes-Hoy - /Administrador/Inicio -->
    <script>
        $(function () {
            $("#tablaOrdenes").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "pageLength": 10,
                "buttons":
                    [
                        { extend: 'pdf', text: 'PDF' },
                        { extend: 'print', text: 'Imprimir' },
                        { extend: 'colvis', text: 'Ver columnas' },

                    ],
                "order": [[0, "desc"]],
                "language": {
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Registro(s) no encontrado(s)",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Sin registros disponibles",
                    infoFiltered: "(Filtrado de _MAX_ registros totales)",
                    paginate:
                    {
                        previous: "Anterior",
                        next: "Siguiente",
                    }
                }
            }).buttons().container().appendTo('#tablaOrdenes_wrapper .col-md-6:eq(0)');
        });
    </script>

    <!-- ======================================================================================================== -->
    <!-- =                                      SCRIPTS DE MODALES                                                -->
    <!-- ======================================================================================================== -->
    <!-- Modal 1: ModalOrden-DetallesHoy - /Administrador/Inicio -->
    <script>
        $(document).ready(function () {
            $(".mostrar-orden-detallehoy").click(function () {
                $("#ModalOrden-DetallesHoy").modal('show');
            });
        });
    </script>
    <!-- Modal 2: ModalHistorialEtapasHoy - /Administrador/Inicio -->
    <script>
        $(document).ready(function () {
            $(".mostrar-historialetapashoy").click(function () {
                $("#ModalHistorialEtapasHoy").modal('show');
            });
        });
    </script>
    <!-- Modal 3: ModalEditarEtapaHoy - /Administrador/Inicio -->
    <script>
        $(document).ready(function () {
            $(".editar-etapahoy").click(function () {
                $("#ModalEditarEtapaHoy").modal('show');
            });
        });
    </script>
    <!-- Modal 2: ModalAñadirRol - /Administrador/Roles -->
    <script>
        $(document).ready(function () {
            $(".añadir-rol").click(function () {
                $("#ModalAñadirRol")
                    .find("input,textarea,select")
                    .val("").trigger('change')
                    .end()
                    .find("input[type=checkbox], input[type=radio]")
                    .prop("checked", "")
                    .end();
                $("#ModalAñadirRol").modal('show');
            });
        });
    </script>
    <!-- Modal 2: ModalEditarRol - /Administrador/Roles -->
    <script>
        $(document).ready(function () {
            $(".editar-rol").click(function () {
                $("#ModalEditarRol").modal('show');
            });
        });
    </script>
    <!-- Modal 3: ModalBorrarRol - /Administrador/Roles -->
    <script>
        $(document).ready(function () {
            $(".eliminar-rol").click(function () {
                $("#ModalBorrarRol").modal('show');
            });
        });
    </script>
    <!-- Modal 4: ModalAñadirEmpleado - /Administrador/Empleados -->
    <script>
        $(document).ready(function () {
            $(".añadir-empleado").click(function () {
                $("#ModalAñadirEmpleado")
                    .find("input,textarea,select")
                    .val("").trigger('change')
                    .end()
                    .find("input[type=checkbox], input[type=radio]")
                    .prop("checked", "")
                    .end();
                $("#ModalAñadirEmpleado").modal('show');
            });
        });
    </script>
    <!-- Modal 5: ModalEditarEmpleado - /Administrador/Empleados -->
    <script>
        $(document).ready(function () {
            $(".editar-empleado").click(function () {
                //var rol = $(this).data('nombre');
                //$(".modal-body #rolEmpleado").val(rol).change();
                $("#ModalEditarEmpleado").modal('show');

            });
        });
    </script>
    <!-- Modal 6: ModalContraseñaEmpleado - /Administrador/Empleados -->
    <script>
        $(document).ready(function () {
            $(".resetear-contraseña-empleado").click(function () {
                $("#ModalContraseñaEmpleado")
                    .find("input,textarea,select")
                    .val("").trigger('change')
                    .end()
                    .find("input[type=checkbox], input[type=radio]")
                    .prop("checked", "")
                    .end();
                $("#ModalContraseñaEmpleado").modal('show');
            });
        });
    </script>
    <!-- Modal 7: ModalEliminarEmpleado - /Administrador/Empleados -->
    <script>
        $(document).ready(function () {
            $(".eliminar-empleado").click(function () {
                $("#ModalEliminarEmpleado").modal('show');
            });
        });
    </script>
    <!-- Modal 8: ModalDetallesCliente - /Administrador/Clientes -->
    <script>
        $(document).ready(function () {
            $(".detalles-cliente").click(function () {
                $("#ModalDetallesCliente").modal('show');
            });
        });
    </script>
    <!-- Modal 9: ModalEliminarCliente - /Administrador/Clientes -->
    <script>
        $(document).ready(function () {
            $(".eliminar-cliente").click(function () {
                $("#ModalEliminarCliente").modal('show');
            });
        });
    </script>
    <!-- Modal 10: ModalAñadirCategoria - /Administrador/Categorias -->
    <script>
        $(document).ready(function () {
            $(".añadir-categoria").click(function () {
                $("#ModalAñadirCategoria")
                    .find("input,textarea,select")
                    .val("")
                    .end()
                    .find("input[type=checkbox], input[type=radio]")
                    .prop("checked", "")
                    .end();
                imagenMuestraCategoriaRegistro.src = "../Content/imagenes/bandeja-de-salida.png";
                $('#lblImagenMuestraCategoriaRegistro').html("Escoger imagen");
                $("#ModalAñadirCategoria").modal('show');
            });
        });
    </script>
    <!-- Modal 11: ModalDetallesCategoria - /Administrador/Categorias -->
    <script>
        $(document).ready(function () {
            $(".detalles-categoria").click(function () {
                $("#ModalDetallesCategoria").modal('show');
            });
        });
    </script>
    <!-- Modal 12: ModalEditarCategoria - /Administrador/Categorias -->
    <script>
        $(document).ready(function () {
            $(".editar-categoria").click(function () {

                $("#ModalEditarCategoria").modal('show');
            });
        });
    </script>
    <!-- Modal 13: ModalEliminarCategoria - /Administrador/Categorias -->
    <script>
        $(document).ready(function () {
            $(".eliminar-categoria").click(function () {
                $("#ModalEliminarCategoria").modal('show');
            });
        });
    </script>
    <!-- Modal 14: ModalAñadirEstado - /Administrador/Estados -->
    <script>
        $(document).ready(function () {
            $(".añadir-estado").click(function () {
                $("#ModalAñadirEstado")
                    .find("input,textarea,select")
                    .val("").trigger('change')
                    .end()
                    .find("input[type=checkbox], input[type=radio]")
                    .prop("checked", "")
                    .end();
                $("#ModalAñadirEstado").modal('show');
            });
        });
    </script>
    <!-- Modal 15: ModalEditarEstado - /Administrador/Estados -->
    <script>
        $(document).ready(function () {
            $(".editar-estado").click(function () {
                $("#ModalEditarEstado").modal('show');
            });
        });
    </script>
    <!-- Modal 16: ModalEliminarCategoria - /Administrador/Estados -->
    <script>
        $(document).ready(function () {
            $(".eliminar-estado").click(function () {
                $("#ModalEliminarEstado").modal('show');
            });
        });
    </script>
    <!-- Modal 17: ModalAñadirProducto - /Administrador/Productos -->
    <script>
        $(document).ready(function () {
            $(".añadir-producto").click(function () {
                $("#ModalAñadirProducto")
                    .find("input,textarea")
                    .val("")
                    .end()
                    .find("select")
                    .val("").trigger('change')
                    .end()
                    .find("input[type=checkbox], input[type=radio]")
                    .prop("checked", "")
                    .end();
                imagenMuestraProductoRegistro.src = "../Content/imagenes/bandeja-de-salida.png";
                $('#lblImagenMuestraProductoRegistro').html("Escoger imagen");
                $("#ModalAñadirProducto").modal('show');
            });
        });
    </script>
    <!-- Modal 18: ModalDetallesProducto - /Administrador/Productos -->
    <script>
        $(document).ready(function () {
            $(".detalles-producto").click(function () {
                $("#ModalDetallesProducto").modal('show');
            });
        });
    </script>
    <!-- Modal 19: ModalEditarProducto - /Administrador/Productos -->
    <script>
        $(document).ready(function () {
            $(".editar-producto").click(function () {

                $("#ModalEditarProducto").modal('show');
            });
        });
    </script>
    <!-- Modal 20: ModalEliminarProducto - /Administrador/Categorias -->
    <script>
        $(document).ready(function () {
            $(".eliminar-producto").click(function () {
                $("#ModalEliminarProducto").modal('show');
            });
        });
    </script>
    <!-- Modal 21: ModalAñadirCombo - /Administrador/Combos -->
    <script>
        $(document).ready(function () {
            $(".añadir-combo").click(function () {
                $("#ModalAñadirCombo")
                    .find("input,textarea")
                    .val("")
                    .end()
                    .find("select")
                    .val("").trigger('change')
                    .end()
                    .find("input[type=checkbox], input[type=radio]")
                    .prop("checked", "")
                    .end();
                imagenMuestraComboRegistro.src = "../Content/imagenes/bandeja-de-salida.png";
                $('#lblImagenMuestraComboRegistro').html("Escoger imagen");
                $("#ModalAñadirCombo").modal('show');
            });
        });
    </script>
    <!-- Modal 22: ModalDetallesCombo - /Administrador/Combos -->
    <script>
        $(document).ready(function () {
            $(".detalles-combo").click(function () {
                $("#ModalDetallesCombo").modal('show');
            });
        });
    </script>
    <!-- Modal 23: ModalEditarProducto - /Administrador/Productos -->
    <script>
        $(document).ready(function () {
            $(".editar-combo").click(function () {

                $("#ModalEditarCombo").modal('show');
            });
        });
    </script>
    <!-- Modal 24: ModalEliminarProducto - /Administrador/Categorias -->
    <script>
        $(document).ready(function () {
            $(".eliminar-combo").click(function () {
                $("#ModalEliminarCombo").modal('show');
            });
        });
    </script>
    <!-- Modal 25: ModalAñadirCombo - /Administrador/Combos -->
    <script>
        $(document).ready(function () {
            $(".agregar-producto-combo").click(function () {
                $("#ModalAgregarProductoCombo")
                    .find("input,textarea")
                    .val("")
                    .end()
                    .find("select")
                    .val("").trigger('change')
                    .end()
                    .find("input[type=checkbox], input[type=radio]")
                    .prop("checked", "")
                    .end();
                $("#ModalAgregarProductoCombo").modal('show');
            });
        });
    </script>
    <!-- Modal 26: ModalAñadirEtapa - /Administrador/Etapas -->
    <script>
        $(document).ready(function () {
            $(".añadir-etapa").click(function () {
                $("#ModalAgregarEtapa")
                    .find("input,textarea")
                    .val("")
                    .end()
                    .find("select")
                    .val("").trigger('change')
                    .end()
                    .find("input[type=checkbox], input[type=radio]")
                    .prop("checked", "")
                    .end();
                $("#ModalAgregarEtapa").modal('show');
            });
        });
    </script>
    <!-- Modal 27: ModalEditarEtapa - /Administrador/Etapas -->
    <script>
        $(document).ready(function () {
            $(".editar-etapa").click(function () {

                $("#ModalEditarEtapa").modal('show');
            });
        });
    </script>
    <!-- Modal 24: ModalEliminarEtapa - /Administrador/Etapas -->
    <script>
        $(document).ready(function () {
            $(".eliminar-etapa").click(function () {
                $("#ModalBorrarEtapa").modal('show');
            });
        });
    </script>
    <!-- Modal 25: ModalOrden-Detalles - /Administrador/HistorialDeOrdenes -->
    <script>
        $(document).ready(function () {
            $(".mostrar-orden-detalle").click(function () {
                $("#ModalOrden-Detalles").modal('show');
            });
        });
    </script>
    <!-- Modal 26: ModalHistorialEtapas - /Administrador/HistorialDeOrdenes -->
    <script>
        $(document).ready(function () {
            $(".mostrar-historialetapas").click(function () {
                $("#ModalHistorialEtapas").modal('show');
            });
        });
    </script>
    <!-- Modal 27: ModalEditarEtapa - /Administrador/HistorialDeOrdenes -->
    <script>
        $(document).ready(function () {
            $(".editar-etapa").click(function () {
                $("#ModalEditarEtapa").modal('show');
            });
        });
    </script>
    <!-- ======================================================================================= -->
    <!--                                        MASCARAS                                          -->
    <!-- ======================================================================================= -->
    <script>
        $(function () {
            $('[data-mask]').inputmask()
            //Date range picker
            $('#reservationdate').datetimepicker({
                format: 'L'
            });
            //Date range picker
            $('#reservation').daterangepicker()
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                locale: {
                    format: 'MM/DD/YYYY hh:mm A'
                }
            })
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function (start, end) {
                    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'))
                }
            )

            //Timepicker
            $('#timepicker').datetimepicker({
                format: 'LT'
            })

            //Bootstrap Duallistbox
            $('.duallistbox').bootstrapDualListbox()

            //Colorpicker
            $('.my-colorpicker1').colorpicker()
            //color picker with addon
            $('.my-colorpicker2').colorpicker()

            $('.my-colorpicker2').on('colorpickerChange', function (event) {
                $('.my-colorpicker2 .fa-square').css('color', event.color.toString());
            });

            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            });

        })
        // BS-Stepper Init
        document.addEventListener('DOMContentLoaded', function () {
            window.stepper = new Stepper(document.querySelector('.bs-stepper'))
        });

        // DropzoneJS Demo Code Start
        Dropzone.autoDiscover = false;

        // Get the template HTML and remove it from the doumenthe template HTML and remove it from the doument
        var previewNode = document.querySelector("#template");
        previewNode.id = "";
        var previewTemplate = previewNode.parentNode.innerHTML;
        previewNode.parentNode.removeChild(previewNode);

        var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
            url: "/target-url", // Set the url
            thumbnailWidth: 80,
            thumbnailHeight: 80,
            parallelUploads: 20,
            previewTemplate: previewTemplate,
            autoQueue: false, // Make sure the files aren't queued until manually added
            previewsContainer: "#previews", // Define the container to display the previews
            clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
        });

        myDropzone.on("addedfile", function (file) {
            // Hookup the start button
            file.previewElement.querySelector(".start").onclick = function () { myDropzone.enqueueFile(file); };
        });

        // Update the total progress bar
        myDropzone.on("totaluploadprogress", function (progress) {
            document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
        });

        myDropzone.on("sending", function (file) {
            // Show the total progress bar when upload starts
            document.querySelector("#total-progress").style.opacity = "1";
            // And disable the start button
            file.previewElement.querySelector(".start").setAttribute("disabled", "disabled");
        });

        // Hide the total progress bar when nothing's uploading anymore
        myDropzone.on("queuecomplete", function (progress) {
            document.querySelector("#total-progress").style.opacity = "0";
        });

        // Setup the buttons for all transfers
        // The "add files" button doesn't need to be setup because the config
        // `clickable` has already been specified.
        document.querySelector("#actions .start").onclick = function () {
            myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
        };
        document.querySelector("#actions .cancel").onclick = function () {
            myDropzone.removeAllFiles(true);
        };
        // DropzoneJS Demo Code End
    </script>
    <!-- ======================================================================================================== -->
    <!-- =                                  SCRIPTS DE MISCELANEOS                                                -->
    <!-- ======================================================================================================== -->
    <!-- Script para habilitar tooltips en campos -->
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <!-- Script para habilitar select2-->
    <script>
        $(function () {
            //Initialize Select2 Elements
            $('.select2').select2({
                theme: 'bootstrap4',
                placeholder: "Seleccionar una opción",
                language: {
                    "noResults": function () {
                        return "No se encontraron resultados";
                    }
                }
            });
            $('.select2 span').css('background-color', 'white');
            $('.select2 span').css('color', 'black');

        });
    </script>
    <!-- Script para activar alertas-->
    <script type="text/javascript">
        $(function () {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });

            $('.swalDefaultSuccess').click(function () {
                Toast.fire({
                    icon: 'success',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.swalDefaultInfo').click(function () {
                Toast.fire({
                    icon: 'info',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.swalDefaultError').click(function () {
                Toast.fire({
                    icon: 'error',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.swalDefaultWarning').click(function () {
                Toast.fire({
                    icon: 'warning',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.swalDefaultQuestion').click(function () {
                Toast.fire({
                    icon: 'question',
                    title: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });

            $('.toastrDefaultSuccess').click(function () {
                toastr.success('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });
            $('.toastrDefaultInfo').click(function () {
                toastr.info('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });
            $('.toastrDefaultError').click(function () {
                toastr.error('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });
            $('.toastrDefaultWarning').click(function () {
                toastr.warning('Lorem ipsum dolor sit amet, consetetur sadipscing elitr.')
            });

            $('.toastsDefaultDefault').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultTopLeft').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'topLeft',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultBottomRight').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'bottomRight',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultBottomLeft').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    position: 'bottomLeft',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultAutohide').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    autohide: true,
                    delay: 750,
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultNotFixed').click(function () {
                $(document).Toasts('create', {
                    title: 'Toast Title',
                    fixed: false,
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultFull').click(function () {
                $(document).Toasts('create', {
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    icon: 'fas fa-envelope fa-lg',
                })
            });
            $('.toastsDefaultFullImage').click(function () {
                $(document).Toasts('create', {
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    image: '../../dist/img/user3-128x128.jpg',
                    imageAlt: 'User Picture',
                })
            });
            $('.toastsDefaultSuccess').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultInfo').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-info',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultWarning').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-warning',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultDanger').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
            $('.toastsDefaultMaroon').click(function () {
                $(document).Toasts('create', {
                    class: 'bg-maroon',
                    title: 'Toast Title',
                    subtitle: 'Subtitle',
                    body: 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr.'
                })
            });
        });
    </script>
    <!-- Script para vista previa de imagenes al subirla desde input // imagenCategoriaRegistro-->
    <script>
        $('#imagenCategoriaRegistro').on('change', function (e) {
            imagenMuestraCategoriaRegistro.src = URL.createObjectURL(event.target.files[0]);
            var fileName = e.target.files[0].name;
            $('#lblImagenMuestraCategoriaRegistro').html(fileName);
        })
    </script>
    <!-- Script para vista previa de imagenes al subirla desde input // imagenCategoriaEdicion-->
    <script>
        $('#imagenCategoriaEdicion').on('change', function (e) {
            imagenMuestraCategoriaEdicion.src = URL.createObjectURL(event.target.files[0]);
            var fileName = e.target.files[0].name;
            $('#lblImagenMuestraCategoriaEdicion').html(fileName);
        })
    </script>
    <!-- Script para vista previa de imagenes al subirla desde input // imagenProductoRegistro-->
    <script>
        $('#imagenProductoRegistro').on('change', function (e) {
            imagenMuestraProductoRegistro.src = URL.createObjectURL(event.target.files[0]);
            var fileName = e.target.files[0].name;
            $('#lblImagenMuestraProductoRegistro').html(fileName);
        })
    </script>
    <!-- Script para vista previa de imagenes al subirla desde input // imagenProductoEdicion-->
    <script>
        $('#imagenProductoEdicion').on('change', function (e) {
            imagenMuestraProductoEdicion.src = URL.createObjectURL(event.target.files[0]);
            var fileName = e.target.files[0].name;
            $('#lblImagenMuestraProductoEdicion').html(fileName);
        })
    </script>
    <!-- Script para vista previa de imagenes al subirla desde input // imagenComboRegistro-->
    <script>
        $('#imagenComboRegistro').on('change', function (e) {
            imagenMuestraComboRegistro.src = URL.createObjectURL(event.target.files[0]);
            var fileName = e.target.files[0].name;
            $('#lblImagenMuestraComboRegistro').html(fileName);
        })
    </script>
    <!-- Script para vista previa de imagenes al subirla desde input // imagenComboEdicion-->
    <script>
        $('#imagenComboEdicion').on('change', function (e) {
            imagenMuestraComboEdicion.src = URL.createObjectURL(event.target.files[0]);
            var fileName = e.target.files[0].name;
            $('#lblImagenMuestraComboEdicion').html(fileName);
        })
    </script>
    @RenderSection("scripts", required: false)

</body>
</html>
