<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--Metas de Móvil -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Metas de Sitio Web -->
    <title>@ViewBag.Title - Restaurante WEB</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- FONT AWESOME-->
    @Styles.Render("~/Content/administracion/fontawesome-free/css/all.min.css")
    <!-- Iconos de sitio web -->
    @Styles.Render("~/Content/imagenes/favicon.ico")
    @Styles.Render("~/Content/imagenes/apple-touch-icon.png")
    <!--CSS de Bootstrap -->
    @Styles.Render("~/Content/css/bootstrap.min.css")
    <!-- CSS del Sitio -->
    @Styles.Render("~/Content/css/style.css")
    <!-- CSS Responsivo -->
    @Styles.Render("~/Content/css/responsive.css")

    <!-- CSS Personalizado -->
    @Styles.Render("~/Content/css/custom.css")

    <!-- DataTables -->
    @Styles.Render("~/Content/administracion/datatables-bs4/css/dataTables.bootstrap4.min.css")
    @Styles.Render("~/Content/administracion/datatables-responsive/css/responsive.bootstrap4.min.css")
    @Styles.Render("~/Content/administracion/datatables-buttons/css/buttons.bootstrap4.min.css")

    <!-- CSS SweetAlert -->
    @Styles.Render("~/Content/administracion/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css")
</head>
<body onload="verificarElementos();">
    <!-- Start Main Top -->
    <header class="main-header">
        @{
            string pageUrl = Request.Url.PathAndQuery.ToString();

        }
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Inicio", "Cliente")"><img style="width:100%;" src="~/Content/imagenes/logo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="nav-item @(pageUrl.ToLower().Contains("/cliente/inicio") || pageUrl.ToLower().Equals("/") ? "active" : string.Empty)"><a class="nav-link" href="@Url.Action("Inicio", "Cliente")">INICIO</a></li>
                        <li class="nav-item @(pageUrl.ToLower().Contains("/cliente/categorias") ? "active" : string.Empty)"><a class="nav-link" href="@Url.Action("Categorias", "Cliente")">MENÚ</a></li>
                        <li class="nav-item @(pageUrl.ToLower().Contains("/cliente/encuentranos") ? "active" : string.Empty)"><a class="nav-link" href="@Url.Action("Encuentranos", "Cliente")">DONDE ENCONTRARNOS</a></li>
                        <li class="dropdown">
                            @if (Session["id"] == null)
                            {
                                <a class="nav-link" href="#" data-toggle="modal" data-target="#modalLogin"><i class="fa fa-user s_color"></i> INICIAR SESIÓN</a>
                            }
                            else
                            {
                                <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown"><i class="fa fa-user s_color"></i> @Session["nombre"]</a>
                                <ul style="background-color:white;" class="dropdown-menu">
                                    <li style="color:black;"><a href="@Url.Action("Perfil","Cliente")">Perfil</a></li>
                                    <li style="color:black;">
                                        @using (Html.BeginForm("Logout", "Cliente", FormMethod.Post, new { id = "logoutForm" }))
                                        {
                                            <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Cerrar Session</a>
                                        }
                                    </li>
                                </ul>
                            }
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
                <!-- Start Atribute Navigation -->
                <div class="attr-nav">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="side-menu">
                            @if (Session["id"] != null)
                            {
                                <a href="#" id="btnAbrirCarrito" onclick="reloadCarrito();">
                                    <i class="fa fa-shopping-cart" id="indicadorCantidad">

                                    </i>
                                </a>
                            }
                        </li>
                    </ul>
                </div>
                <!-- End Atribute Navigation -->
            </div>
            <!-- INICIO DE CARRITO DESPLEGABLE-->
            <div class="side">
                <a href="#" class="close-side"><i class="fa fa-times"></i></a>
                <div class="cart-box">
                    <ul class="cart-list" id="datosCarrito">
                        <li>
                            <a href="#" class="photo">
                                <img src="~/Content/imagenes/Combos/Economico.png" style="width:60px;height:50px;" alt="">
                            </a>
                            <h6><a href="#">Paquete económico</a></h6>
                            <p>
                                1x - <span class="price">$2.50</span>&nbsp;<a data-toggle="tooltip" title="Quitar producto" href="#"><i class="fas fa-times"></i></a>
                            </p>
                        </li>
                        <li>
                            <a href="#" class="photo">
                                <img src="~/Content/imagenes/Productos/Ensalada_de_manzana_y_nueces.png" style="width:60px;height:50px;" alt="">
                            </a>
                            <h6><a href="#">Ensalada de manzana</a></h6>
                            <p>
                                1x - <span class="price">$1.50</span>&nbsp;<a data-toggle="tooltip" title="Quitar producto" href="#"><i class="fas fa-times"></i></a>
                            </p>
                        </li>
                        <li>
                            <a href="#" class="photo">
                                <img src="~/Content/imagenes/Productos/Sundae_Caramelo.png" style="width:60px;height:50px;" alt="">
                            </a>
                            <h6><a href="#">Sundae de caramelo</a></h6>
                            <p>
                                1x - <span class="price">$1.75</span>&nbsp;<a data-toggle="tooltip" title="Quitar producto" href="#"><i class="fas fa-times"></i></a>
                            </p>
                        </li>
                        <li class="total">
                            <a href="@Url.Action("Carrito", "Cliente")" class="btn btn-default hvr-hover btn-cart">VER CARRITO</a>
                            <span class="float-right"><strong>Total</strong>: $5.75</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- FIN DE CARRITO DESPLEGABLE -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Main Top -->
    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->
    @*@Html.Partial("Registrarte")*@


    @Html.Partial("Login1")
    @Html.Partial("RecuperarEmail")
    @Html.Partial("Detalles")

    @RenderBody()
    <!-- Start Footer  -->
    <footer>
        <div class="footer-main">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Horarios de atención</h3>
                            <ul class="list-time">
                                <li>Lunes - Viernes: 08:00 A.M a 05:00 P.M</li>
                                <li>Sábado: 08:00 A.M a 12:00 M.D</li>
                                <li>Domingo: 08:00 A.M a 12:00 M.D</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Redes Sociales</h3>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="footer-top-box">
                            <h3>Contactános</h3>
                            <ul class="list-time">
                                <li><i class="fas fa-map-marker-alt"></i> Dirección: Montes de San Bartolo 3,Soyapango,San Salvador</li>
                                <li><i class="fas fa-phone-square"></i> Teléfono: 2290-1865</li>
                                <li><i class="fas fa-envelope"></i> Correo electrónico: BurgerCity@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a href="#" id="back-to-top" title="Subir" style="display: none;background-color:#fc4703"><i class="fa fa-arrow-up"></i></a>
    <!-- ALL JS FILES -->
    @Scripts.Render("~/Scripts/js/jquery-3.2.1.min.js")
    @Scripts.Render("~/Scripts/js/popper.min.js")
    @Scripts.Render("~/Scripts/js/bootstrap.min.js")

    <!-- ALL PLUGINS -->
    @Scripts.Render("~/Scripts/js/jquery.superslides.min.js")
    @Scripts.Render("~/Scripts/js/bootstrap-select.js")
    @Scripts.Render("~/Scripts/js/inewsticker.js")
    @Scripts.Render("~/Scripts/js/bootsnav.js")
    @Scripts.Render("~/Scripts/js/images-loded.min.js")
    @Scripts.Render("~/Scripts/js/isotope.min.js")
    @Scripts.Render("~/Scripts/js/owl.carousel.min.js")
    @Scripts.Render("~/Scripts/js/baguetteBox.min.js")
    @Scripts.Render("~/Scripts/js/form-validator.min.js")
    @Scripts.Render("~/Scripts/js/contact-form-script.js")
    @Scripts.Render("~/Scripts/js/custom.js")

    @Scripts.Render("~/Scripts/js/bootstrap-input-spinner.js")
    <!-- DataTables -->
    @Scripts.Render("~/Content/administracion/datatables/jquery.dataTables.min.js")
    @Scripts.Render("~/Content/administracion/datatables-bs4/js/dataTables.bootstrap4.min.js")
    @Scripts.Render("~/Content/administracion/datatables-responsive/js/dataTables.responsive.min.js")
    @Scripts.Render("~/Content/administracion/datatables-responsive/js/responsive.bootstrap4.min.js")
    @Scripts.Render("~/Content/administracion/datatables-buttons/js/dataTables.buttons.min.js")
    @Scripts.Render("~/Content/administracion/datatables-buttons/js/buttons.bootstrap4.min.js")

    <!-- SWEETALERT -->
    @Scripts.Render("~/Content/administracion/sweetalert2/sweetalert2.min.js")

    @RenderSection("scripts", required: false)



    <!-- Script para habilitar tooltips en campos -->
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
            });
        });
    </script>

    <!-- Script para habilitar spinner -->
    <script>
        $(function () {
            $("input[type='number']").inputSpinner()
        });
    </script>

    <script type="text/javascript">
        $(function () {
            $("input[name='telefono']").click(function () {
                if ($("#fijo").is(":checked")) {
                    $("#txtOtro").attr("disabled", "disabled");
                }
                else if ($("#movil").is(":checked")) {
                    $("#txtOtro").attr("disabled", "disabled");
                }
                else {
                    $("#txtOtro").removeAttr("disabled");
                    $("#txtOtro").focus();
                }
            });
        });
    </script>

    <!-- ======================================================================================================== -->
    <!-- =                                      SCRIPTS DE DATATABLES                                             -->
    <!-- ======================================================================================================== -->
    <!-- Tabla 3: TablaMisOrdenes - /Cliente/Historial -->
    <script>
        $(function () {
            $("#tablaMisOrdenes").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "pageLength": 10,
                "order": [[2, "desc"]],
                "language": {
                    search: "Buscar",
                    lengthMenu: "Mostrar _MENU_ registros por página",
                    zeroRecords: "Registro(s) no encontrado(s)",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Sin registros disponibles",
                    infoFiltered: "(Filtrado de _MAX_ registros totales)",
                    paginate:
                    {
                        previous: "Anterior",
                        next: "Siguiente",
                    }
                }
            });
        });
    </script>
    <!-- ======================================================================================================== -->
    <!-- =                                      SCRIPTS DE MODALES                                                -->
    <!-- ======================================================================================================== -->
    <!-- MODAL 1: Modal de detalles al abrir un producto desde menú de categorías-->
    <script>
        $(document).ready(function () {
            var idCombo = '';
            var idProducto = '';
            var id = '';
            var bandera = '';
            var imagen = '';
            var nombre = '';
            var precio = 0;
            var cantidad = 0;


            $(".detalles").click(function () {
                //Inicializando cantidad en  1
                bandera = false;
                $("#detalleCantidad").val("1");
                idProducto = $(this).data('idproducto');
                idCombo = $(this).data('idcombo');
                imagen = $(this).data('imagen');
                nombre = $(this).data('nombre');
                precio = $(this).data('precio');

                $("#detalleImagen").attr('src', imagen);
                $("#detalleDescripcion").text($(this).data('descripcion'));
                $("#detallePrecio").text(precio);

                if (idProducto === undefined) {
                    bandera = true;
                    id = idCombo;
                } else {
                    id = idProducto;
                }
                if (bandera) {
                    $.ajax({
                        type: 'POST',
                        url: '/Cliente/obtenerDetalle',
                        data: { 'idCombo': idCombo },
                        dataType: 'json',
                        success: function (data) {

                            $("#tablaProductos tbody tr").remove();
                            $.each(data, function (i, item) {
                                var rows = "<tr>"
                                    + "<td>" + "<img class='img-fluid' src=\"" + item.Imagen + "\" style='width:50px;height:50px' alt='' />" + "</td>"
                                    + "<td>" + item.Nombre + "</td>"
                                    + "<td>" + item.Cantidad + "</td>"
                                    + "</tr>";
                                $('#tablaProductos tbody').append(rows);
                            });
                            $("#ModalDetalles").modal('show');
                        },
                        failure: function (ex) {
                            var r = jQuery.parseJSON(response.responseText);
                            alert("Message: " + r.Message);
                            alert("StackTrace: " + r.StackTrace);
                            alert("ExceptionType: " + r.ExceptionType);
                        }
                    });
                }//fin if
                else {
                    $("#tablaProductos tbody tr").remove();
                    var rows = "<tr>"
                        + "<td>" + "<img class='img-fluid' src=\"" + imagen + "\" style='width:50px;height:50px' alt='' />" + "</td>"
                        + "<td>" + nombre + "</td>"
                        + "</tr>";
                    $('#tablaProductos tbody').append(rows);

                    $("#ModalDetalles").modal('show');
                }
            });

            $("#btnAgregarOrden").click(function () {
                var variables = [];

                cantidad = $("#detalleCantidad").val();

                variables.push(cantidad);

                if (!fieldEmpty(variables)) {
                    alerta('info', 'Debe ingresar una cantidad');
                } else {

                    $.ajax({
                        type: 'POST',
                        url: '/Cliente/registrarObjetos',
                        data: { 'idObjeto': id, 'nombre': nombre, 'cantidad': cantidad, 'precio': precio, 'imagen': imagen },
                        success: function (data) {
                            $("#ModalDetalles").modal('hide');
                            Swal.fire({
                                icon: 'success',
                                title: 'Producto agregado',
                                showConfirmButton: false,
                                focusConfirm: false,
                                timer: 1500
                            });
                            //Actualizando indicador de cantidad
                            $("#indicadorCantidad").html("<span class='badge badge-pill badge-success ml-2' style='font-weight:bold;font-family:'Segoe UI';background-color:#fc4703>" + data + "</span>");
                            //Recarcando carrito
                            reloadCarrito();
                        },
                        error: function (data) {
                            alerta('error', 'No se registro el producto');
                        }
                    });
                }

            });
        });
    </script>

    <!-- MODAL 2: Modal de detalles al desear ver los detalles desde el carrito de compras de un producto -->
    <script>
        $(document).ready(function () {
            var idObjeto = '';
            var imagen = '';
            var nombre = '';

            $(".contenido").on("click", ".detalles2", function () {

                imagen = $(this).data('imagen');
                nombre = $(this).data('nombre');
                idObjeto = $(this).data('idobjeto');
                $("#detalle2Imagen").attr('src', imagen);

                $("#detalle2Precio").text($(this).data('precio'));

                $.ajax({
                    type: 'POST',
                    url: '/Cliente/obtenerDetalleCarrito',
                    data: { 'idObjeto': idObjeto },
                    dataType: 'json',
                    success: function (data) {
                        $("#tablaProductos2 tbody tr").remove();

                        if (data.isCombo === undefined) {

                            $.each(data, function (i, item) {
                                var rows = "<tr>"
                                    + "<td>" + "<img class='img-fluid' src=\"" + item.Imagen + "\" style='width:50px;height:50px' alt='' />" + "</td>"
                                    + "<td>" + item.Nombre + "</td>"
                                    + "<td>" + item.Cantidad + "</td>"
                                    + "</tr>";
                                $('#tablaProductos2 tbody').append(rows);
                            });

                            $("#detalle2Descripcion").text(data[0].Descripcion);
                        } else {

                            var rows = "<tr>"
                                + "<td>" + "<img class='img-fluid' src=\"" + imagen + "\" style='width:50px;height:50px' alt='' />" + "</td>"
                                + "<td>" + nombre + "</td>"
                                + "</tr>";
                            $('#tablaProductos2 tbody').append(rows);
                            $("#detalle2Descripcion").text(data.descripcion);
                        }
                        $("#ModalDetalles2").modal('show');
                    },
                    failure: function (ex) {
                        var r = jQuery.parseJSON(response.responseText);
                        alert("Message: " + r.Message);
                        alert("StackTrace: " + r.StackTrace);
                        alert("ExceptionType: " + r.ExceptionType);
                    }
                });

            });
        });
    </script>

    <!-- Modal 3: Modal de cambiar dirección de entrega actual en finalización de compra -->
    <script>
        $(document).ready(function () {
            var direccion = '';
            $(".editar-entrega-actual").click(function () {
                $("#ModalEditarDireccionActual")
                    .find("input,textarea,select")
                    .val("").trigger('change')
                    .end()
                    .find("input[type=checkbox], input[type=radio]")
                    .prop("checked", "")
                    .end();
                $("#ModalEditarDireccionActual").modal('show');
            });

            $("#btnModificarDireccion").click(function () {
                var variables = [];

                direccion = $("#txtNuevaDireccionEntrega").val()
                variables.push(direccion);
                if (!fieldEmpty(variables)) {
                    alerta('info', 'Debe colocar la dirección');
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/Cliente/modificarDireccion',
                        data: { 'direccion': direccion },
                        success: function (data) {
                            $("#actual").val(data);
                            $("#actualLbl").text(data);
                            alerta('success', 'direccion editada');
                            $("#ModalEditarDireccionActual").modal('hide');
                            //Actualizar el label y value de input direccion
                        },
                        error: function (data) {
                            alerta('error', 'Error al modificar dirección');
                        }
                    });
                }

            });
        });
    </script>
    <script>
        $("#btnFinalizarCompra").click(function () {
            var bandera = false;
            var direccion = '';
            var telefono = '';
            //validando telefono
            if ($("#otro").is(":checked") && !(/^\d{4}-\d{4}$/.test($("#txtOtro").val()))) {
                bandera = true;
                alerta('error', 'el teléfono debe tener el formato 1234-5678');
            }
            if (!bandera) {
                //Extrallendo datos
                if ($("#domicilio").is(":checked")) {
                    direccion = $("#domicilio").val();
                }
                if ($("#actual").is(":checked")) {
                    direccion = $("#actual").val();
                }
                if ($("#fijo").is(":checked")) {
                    telefono = $("#fijo").val();
                }
                if ($("#movil").is(":checked")) {
                    telefono = $("#movil").val();
                }
                if ($("#otro").is(":checked")) {
                    telefono = $("#txtOtro").val();
                }

                //solicitud
                $.ajax({
                    type: 'POST',
                    url: '/Cliente/insertarPedido',
                    data: { 'direccion': direccion, 'telefono': telefono },
                    success: function (data) {

                        Swal.fire({
                            icon: 'success',
                            title: 'Tu número de orden es: [ ' + data + ' ] Puedes mirar los detalles en tu historial de ordenes',
                            showConfirmButton: true,
                        }).then((result) => {
                            //redireccionando
                            if (result.value) {
                                $(location).attr('href', 'historial');
                            }
                        });

                    },
                    error: function (data) {
                        alerta('error', 'Error al ingresar el pedido');
                    }
                });

            }




        });
    </script>


    <!-- Modal 4: Modal detalles de mi orden-->
    <script>
        $(document).ready(function () {
            var idPedido = '';
            var idCliente = '';
            var total = '';
            $(".mostrar-detalles-mi-orden").click(function () {

                idPedido = $(this).data('idpedido');

                var promise = $.ajax({
                    type: 'POST',
                    url: '/Cliente/obtenerClienteOrden',
                    data: { 'idPedido': idPedido },
                    dataType: 'json',
                    success: function (data) {


                        $("#nombreCliente").val(data.nombre);
                        $("#direccionCliente").val(data.direccion);
                        $("#telefonoCliente").val(data.telefono);
                        $("#correoCliente").val(data.correo);
                        $("#codigoOrden").val(idPedido);
                        $("#fechaOrden").val(ToJavaScriptDate(data.fecha));
                        $("#estadoOrden").val(data.estado);
                        total = data.total;

                    },
                    error: function (data) {
                        alerta('error', 'No es posible mostrar el detalle');
                    }
                });

                promise.then(function () {
                    $("#tablaDetalle tbody tr").remove();
                    $.ajax({
                        type: 'POST',
                        url: '/Cliente/obtenerDetalleOrden',
                        data: { 'idPedido': idPedido },
                        dataType: 'json',
                        success: function (data) {
                            $.each(data, function (i, item) {

                                var rows = "<tr>"
                                    + "<td>" + item.IdObjeto + "</td>"
                                    + "<td>" + item.Nombre + "</td>"
                                    + "<td>" + item.Cantidad + "</td>"
                                    + "<td>" + item.Precio + "</td>"
                                    + "<td>" + item.SubTotal + "</td>"
                                    + "</tr>";
                                $('#tablaDetalle tbody').append(rows);
                            });

                            $("#tablaTotal tr").remove();

                            var rows = "<tr>"
                                + "<th>Total de orden:</th>"
                                + "<td>" + total + "</td>"
                                + "</tr>";

                            $('#tablaTotal').append(rows);

                            $("#ModalMiOrden-Detalles").modal('show');
                        },
                        failure: function (ex) {
                            var r = jQuery.parseJSON(response.responseText);
                            alert("Message: " + r.Message);
                            alert("StackTrace: " + r.StackTrace);
                            alert("ExceptionType: " + r.ExceptionType);
                        }
                    });
                });
            });
        });
    </script>

    <!-- Modal 5: Editar perfil-->
    <script>
        $(document).ready(function () {
            var nombres = '';
            var apellidos = '';
            var telefono = '';
            var movil = '';
            var correo = '';
            var direccion = '';
            var direccionEntrega = '';

            $(".editar-perfil").click(function () {
                $("#ModalEditarPerfil").modal('show');

            });

            $("#btnActualizarDatosPerfil").click(function () {
                var variables = [];

                nombres = $("#nombresCliente").val();
                apellidos = $("#apellidosCliente").val();
                telefono = $("#telefonoCliente").val();
                movil = $("#movilCliente").val();
                correo = $("#correoCliente").val();
                direccion = $("#direccionDomicilioCliente").val();
                direccionEntrega = $("#direccionEntregaCliente").val();

                variables.push(nombres);
                variables.push(apellidos);
                variables.push(telefono);
                variables.push(movil);
                variables.push(correo);
                variables.push(direccion);
                variables.push(direccionEntrega);

                if (!fieldEmpty(variables)) {
                    alerta('info', 'debe llenar todos los campos');
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/Cliente/modificarCliente',
                        data: { 'nombres': nombres, 'apellidos': apellidos, 'telefono': telefono, 'movil': movil, 'correo': correo, 'direccion': direccion, 'direccionEntrega': direccionEntrega },
                        success: function () {
                            $("#ModalEditarPerfil").modal('hide');
                            alerta('success', 'Se editó con éxito');
                        },
                        error: function () {
                            alerta('error', 'Error al editar');
                        }
                    });
                }
            });
        });
    </script>

    <!-- Modal 5: Editar perfil-->
    <script>
        $(document).ready(function () {
            var nueva = '';
            var antigua = '';
            $(".actualizar-contraseña").click(function () {
                $("#ModalActualizarContraseña")
                    .find("input,textarea,select")
                    .val("").trigger('change')
                    .end()
                    .find("input[type=checkbox], input[type=radio]")
                    .prop("checked", "")
                    .end();
                $("#ModalActualizarContraseña").modal('show');
            });

            $("#btnActualizarClave").click(function () {
                var variables = [];

                nueva = $("#nuevaContraseña").val();
                antigua = $("#nuevaContraseñaConfirmacion").val();

                variables.push(nueva);
                variables.push(antigua);

                if (!fieldEmpty(variables)) {
                    alerta('info', 'Debe llenar los campos');

                } else if (nueva !== antigua) {
                    alerta('info', 'Las contraseñas deben coincidir');
                } else {
                    $.ajax({
                        type: 'POST',
                        url: '/Cliente/modificarClave',
                        data: { 'clave': nueva },
                        success: function () {
                            $("#ModalActualizarContraseña").modal('hide');
                            alerta('success', 'Se editó con éxito');
                        },
                        error: function () {
                            alerta('error', 'Error al editar');
                        }
                    });
                }

            });
        });
    </script>
    <!--Script para generar datos en carrito desplegable-->
    <script>

        function reloadCarrito() {

            $.ajax({
                type: 'POST',
                url: '/Cliente/generarCarritoPlegable',
                dataType: 'json',
                success: function (data) {
                    $("#datosCarrito li").remove();
                    if (data.success === undefined) {
                        $.each(data, function (i, item) {
                            var rows = "<li>"
                                + "<a href='#' class='photo'>"
                                + "<img  src=\"" + item.imagen + "\" style='width:60px;height:50px' alt='' />"
                                + "<h6><a href='#'>" + item.nombre + "</a></h6>"
                                + "<p>"
                                + item.cantidad + "x - <span class='price'> $" + item.precio + "</span>&nbsp;<a data-toggle='tooltip' title='Quitar producto' href='#' onclick ='eliminarProducto(\"" + item.idObjeto + "\");'><i class='fas fa-times'></i></a> "
                                + "</p>"
                                + "</li>";
                            $('#datosCarrito').append(rows);
                        });
                        //Insertando total
                        var foot = "</li>"
                            + "<li class='total'>"
                            + "<a href='/Cliente/Carrito' class='btn btn-default hvr-hover btn-cart'>VER CARRITO</a>"
                            + "<span class='float-right'><strong>Total</strong>: $" + data[0].total + "</span>"
                            + "</li>";
                        $('#datosCarrito').append(foot);

                    } else {
                        var rows = "<li>"
                            + "<p>"
                            + data.message
                            + "</p>"
                            + "</li>";

                        $('#datosCarrito').append(rows);
                    }

                },
                failure: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
        }
    </script>
    <script>
        function reloadTablaCarrito() {
            $("#tablaCarrito tbody tr").remove();
            $.ajax({
                type: 'POST',
                url: '/Cliente/reloadTablaCarrito',
                dataType: 'json',
                success: function (data) {
                    $.each(data, function (i, item) {

                        var rows = "<tr>"
                            + "<td class='thumbnail-img'>"
                            + "<a href='#'>"
                            + "<img  src=\"" + item.imagen + "\" style='width:90px;height:70px' alt='' />"
                            + "</a>"
                            + "</td>"
                            + "<td>"
                            + "<a href='#'>" + item.nombre + "</a>"
                            + "</td>"
                            + "<td class='price-pr'>"
                            + "<p>$" + item.precio + "</p>"
                            + "</td>"
                            + "<td class='quantity-box'>"
                            + "<input type = 'number' size = '4' value =" + item.cantidad + " id = " + item.idObjeto + " min = '1' step = '1' class='c-input-text qty text' onchange = 'actualizarCantidad(\"" + item.idObjeto + "\");' >"
                            + "</td>"
                            + "<td class='total-pr'>"
                            + "<p>$" + item.monto + "</p>"
                            + "</td>"

                            + "<td class='remove-pr'>"
                            + "<a class='detalles2 btn btn-primary btn-sm rounded-sm' href='#' "
                            + "data-idobjeto2=\"" + item.idObjeto + "\" "
                            + "data-idobjeto=\"" + item.idObjeto + "\" "
                            + "data-imagen=\"" + item.imagen + "\" "
                            + "data-nombre=\"" + item.nombre + "\" "
                            + "data-precio=\"" + item.precio + "\" "
                            + ">"
                            + " <i class='fas fa-eye' style='color:white;'></i>"
                            + "</a> "
                            + "<a class='btn btn-danger btn-sm rounded-sm' onclick='eliminarProducto(\"" + item.idObjeto + "\");' href='#'>"
                            + " <i class='fas fa-trash' style='color:white;'></i>"
                            + "</a>"
                            + "</td>"
                            + "</tr>";
                        $('#tablaCarrito tbody').append(rows);

                    });
                    $("input[type='number']").inputSpinner();
                },
                failure: function (ex) {
                    var r = jQuery.parseJSON(response.responseText);
                    alert("Message: " + r.Message);
                    alert("StackTrace: " + r.StackTrace);
                    alert("ExceptionType: " + r.ExceptionType);
                }
            });
            return false;
        }
    </script>
    <script>
        function eliminarProducto(idObjeto) {
            //verificando ruta actual
            var ruta = window.location.pathname;
            $.ajax({
                type: 'POST',
                url: '/Cliente/eliminarProducto',
                data: { 'idObjeto': idObjeto },
                success: function (data) {
                    if (ruta === '/Cliente/Carrito') {
                        reloadTablaCarrito();
                        actualizarCantidad();

                    } else {
                        reloadCarrito();
                        if (data != 0) {
                            //Actualizando indicador de cantidad
                            $("#indicadorCantidad").html("<span class='badge badge-pill badge-success ml-2' style='font-weight:bold;font-family:'Segoe UI';background-color:#fc4703>" + data + "</span>");
                        } else {
                            $("#indicadorCantidad").html("");
                        }
                    }

                },
                error: function (data) {
                    alerta('error', 'Error al eliminar elemento');
                }
            });
        }
    </script>
    <script>
        function fieldEmpty(variables) {
            var bandera = true;
            for (var i = 0; i < variables.length; i++) {
                if (variables[i].trim() === '') {
                    bandera = false;
                    break;
                }
            }
            return bandera
        }
    </script>
    <script>
        function alerta(tipo, mensaje) {
            const Toast = Swal.mixin({
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timer: 3000
            });
            Toast.fire({
                icon: tipo, //success,info,error,warning,question
                title: mensaje
            });


        }

    </script>
    <script>
        function verificarElementos() {
            //Verificando el numero de elementos en el carrito
            //countObjetos
            $.ajax({
                type: 'POST',
                url: '/Cliente/countObjetos',
                success: function (data) {
                    if (data != 0) {
                        //Actualizando indicador de cantidad
                        $("#indicadorCantidad").html("<span class='badge badge-pill badge-success ml-2' style='font-weight:bold;font-family:'Segoe UI';background-color:#fc4703>" + data + "</span>");
                    }
                },
                error: function (data) {
                    alerta('error', 'Error al recargar elementos');
                }
            });

            //verificando ruta actual
            var ruta = window.location.pathname;

            //Ocultando carrito si las rutas son de Carrito o Pago
            if (ruta === '/Cliente/Carrito') {
                $("#btnAbrirCarrito").hide();
            }
            if (ruta === '/Cliente/Pago') {
                $("#btnAbrirCarrito").hide();
            }

        }

    </script>
    <script>
        function actualizarCantidad(idObjeto) {
            var cantidad = $('#' + idObjeto).val();
            $.ajax({
                type: 'POST',
                url: '/Cliente/cambiarCantidad',
                data: { 'idObjeto': idObjeto, 'cantidad': cantidad == null ? 0 : cantidad },
                success: function (data) {
                    if (data.monto !== 0) {
                        $("#monto_" + idObjeto).text("$ " + data.totalObjeto);
                        $("#resumenTotal").text("$ " + data.monto);
                        $("#resumenTotal2").text("$ " + data.monto);
                    } else {
                        $(location).attr('href', 'categorias');
                    }

                },
                error: function (data) {
                    alerta('error', 'Error al actualizar tabla');
                }
            });

        }
    </script>
    <script>
        function ToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear() + " " + dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
        }
    </script>

</body>
</html>
