@model RestauranteWeb.Models.ModelGestionCombos
@{
    ViewBag.Title = "Gestión de combo específico";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Gestión de combo específico</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Gestión de productos</a></li>
                        <li class="breadcrumb-item active">Combos</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Main row -->
            <div class="row">
                <section class="col-lg-12 connectedSortable">
                    <div class="card card-navy">
                        <div class="card-header" style="display: flex; justify-content: center; align-items: center;">
                            <h3 class="card-title" style="font-weight:bold;display: flex;justify-content: center;align-items: center;">GENERALIDADES DEL COMBO</h3>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-12">
                                <div style="display:flex;justify-content:center;align-items:center;">
                                    <img id="imagenMuestraComboDetalles" class="img-bordered-sm text-center" src="@Model.Combos.Imagen"
                                         style="width: 425px; height: 250px; justify-content: center; justify-items: center;"
                                         onerror="this.src='../Content/imagenes/bandeja-de-salida.png';this.onerror='';" />
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-12 col-sm-4">
                                        <div class="info-box bg-gradient-navy">
                                            <div class="info-box-content">
                                                <span class="info-box-number text-center">NOMBRE</span>
                                                <span class="info-box-text text-center mb-0">@Model.Combos.Nombre</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="info-box bg-gradient-navy">
                                            <div class="info-box-content">
                                                <span class="info-box-number text-center">PRECIO</span>
                                                <span class="info-box-text text-center mb-0">$ @Model.Combos.Precio</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                        <div class="info-box bg-gradient-navy">
                                            <div class="info-box-content">
                                                <span class="info-box-number text-center">ESTADO</span>
                                                <span class="info-box-text text-center mb-0">@Model.Combos.EstadosProductos.Nombre</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="col-lg-6 connectedSortable">
                    <div class="card card-navy">
                        <div class="card-header" style="display: flex; justify-content: center; align-items: center;">
                            <h3 class="card-title" style="font-weight:bold;display: flex;justify-content: center;align-items: center;">AGREGAR PRODUCTO AL COMBO</h3>
                        </div>
                        <br />
                        <div class="card-body">
                            <table id="tablaAgregarProductos" class="table table-bordered table-striped" style="text-align:center;">
                                <thead>
                                    <tr>
                                        <th>ID Producto</th>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Categoría</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody class="contenido">
                                    @foreach (var item in Model.Productos)
                                    {
                                        <tr>
                                            <td>@item.IdProducto</td>
                                            <td>
                                                <img class="img-fluid" src="@item.Imagen" style="width:100px;height:100px" alt="" />
                                            </td>
                                            <td>@item.Nombre</td>
                                            <td>@item.CategoriasProductos.Nombre</td>
                                            <td>
                                                <a class="agregar-producto-combo btn btn-success btn-sm rounded-sm" title="Agregar a combo" data-toggle="tooltip"
                                                   data-idproducto="@item.IdProducto"
                                                   data-idcombo="@Model.Combos.IdCombo">
                                                    <i class="fa fa-plus" style="color:white;"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </section>
                <section class="col-lg-6 connectedSortable">
                    <div class="card card-navy">
                        <div class="card-header" style="display: flex; justify-content: center; align-items: center;">
                            <h3 class="card-title" style="font-weight:bold;display: flex;justify-content: center;align-items: center;">PRODUCTOS DEL COMBO</h3>
                        </div>
                        <br />
                        <div class="card-body">
                            <table id="tablaProductosComboEliminar" class="table table-bordered table-striped" style="text-align:center;">
                                <thead>
                                    <tr>
                                        <th>ID Producto</th>
                                        <th>Imagen</th>
                                        <th>Nombre</th>
                                        <th>Cantidad</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody class="contenido">
                                    @foreach (var item in Model.CombosDetalles)
                                    {
                                        <tr>
                                            <td>@item.ProductosRestaurante.IdProducto</td>
                                            <td>
                                                <img class="img-fluid" src="@item.ProductosRestaurante.Imagen" style="width:100px;height:100px" alt="" />
                                            </td>
                                            <td>@item.ProductosRestaurante.Nombre</td>
                                            <td>@item.Cantidad</td>
                                            <td>
                                                <a class="eliminar-producto-combo btn btn-danger btn-sm rounded-sm" title="Eliminar del combo" data-toggle="tooltip"
                                                   data-idcombo="@Model.Combos.IdCombo"
                                                   data-idproducto="@item.IdProducto">
                                                    <i class="fa fa-trash" style="color:white;"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </section>
            </div>
        </div>

        <div class="modal fade" id="ModalAgregarProductoCombo">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-gradient-navy">
                    <div class="modal-header text-center">
                        <h4 class="modal-title">AGREGAR PRODUCTO AL COMBO</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Cantidad:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="fas fa-clipboard-list"></i></span>
                                            </div>
                                            <input type="number" class="form-control" placeholder="Cantidad de productos" id="cantidadProductosCombo"
                                                   min="1" max="99" step="1" onkeyup="if(this.value<=0){this.value= 1}" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnRegistrarProductoCombo" class="btn btn-success">
                            <i class="fas fa-plus"></i>
                            Agregar producto(s)
                        </button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <!-- /.modal -->
        <div class="modal fade" id="ModalEliminarProductoCombo">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-gradient-navy">
                    <div class="modal-header text-center">
                        <h4 class="modal-title">PRODUCTOS</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center" style="font-weight:bold;">
                            ¿Está seguro que desea eliminar este producto?
                            <br />
                            <br />
                            <button type="button" id="btnEliminarProductoCombo" class="btn btn-danger">
                                <i class="fa fa-trash"></i>
                                Eliminar
                            </button>
                            <button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </section>

   