@model RestauranteWeb.Models.ModelCarritoDetalles
@{
    ViewBag.Title = "Carrito";
}
<style>
    .mi-scrollbar-personalizado {
        position: relative;
        height: 375px;
        overflow: auto;
    }

    .scroll-tabla {
        display: block;
    }
</style>
<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>MI CARRITO</h1>
                    <hr />
                </div>
            </div>
            <div class="col-lg-9  mi-scrollbar-personalizado scroll-tabla">
                <div class="table-main table-hover" id="tablaFea">
                    <table class="table" id="tablaCarrito" style="text-align:center;">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody class="contenido">
                            @foreach (var item in Model.carrito)
                            {
                                <tr>
                                    <td class="thumbnail-img">
                                        <a href="#">
                                            <img src="@item.imagen" style="width:90px;height:70px;" alt="">
                                        </a>
                                    </td>
                                    <td class="name-pr">
                                        <a href="#">
                                            @item.nombre
                                        </a>
                                    </td>
                                    <td class="price-pr">
                                        <p>$ @item.precio</p>
                                    </td>
                                    <td class="quantity-box"><input type="number" size="4" value="@item.cantidad" id="@item.idObjeto" min="1" step="1" class="c-input-text qty text" onchange="actualizarCantidad('@item.idObjeto');" ></td>
                                    <td class="total-pr">
                                        <p id="monto_@item.idObjeto">$ @item.monto </p>
                                    </td>
                                    <td class="remove-pr">
                                        <a class="detalles2 btn btn-primary btn-sm rounded-sm" href="#" 
                                           data-idobjeto="@item.idObjeto"data-imagen="@item.imagen" data-nombre="@item.nombre" data-precio="@item.precio">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a class="btn btn-danger btn-sm rounded-sm" onclick="eliminarProducto('@item.idObjeto')" href="#">
                                            <i class="fas fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-3">
                    <div class="order-box">
                        <h3 class="text-center">RESUMEN DE ORDEN</h3>
                        <div class="d-flex">
                            <h4>Sub Total</h4>
                            <div class="ml-auto font-weight-bold" id="resumenTotal"> $ @Model.total </div>
                        </div>
                        <hr class="my-1">
                        <div class="d-flex">
                            <h4>Envío</h4>
                            <div class="ml-auto font-weight-bold"> ¡Gratis! </div>
                        </div>
                        <hr>
                        <div class="d-flex gr-total">
                            <h5>Total</h5>
                            <div class="ml-auto h5" id="resumenTotal2"> $ @Model.total </div>
                        </div>
                        <hr>
                    </div>
                    <div class="col-12 d-flex shopping-box"><a href="@Url.Action("Pago", "Cliente")" class="ml-auto btn hvr-hover"><i class="fas fa-money"></i>Pagar ahora</a> </div>
                </div>
            </div>
        </div>

    </div>
<!-- End Cart -->
