@model RestauranteWeb.Models.ModelInicioCliente
@{
    ViewBag.Title = "Categorias";
}
@{
    string idCategoria = "*";
    string idCatCombos = "";
    if (Request.QueryString["idCategoria"] != null)
    {
        idCategoria = Request.QueryString["idCategoria"];
    }
}
<!-- Start Products  -->
<div class="products-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="special-menu text-center">
                    <div class="button-group filter-button-group">
                        <!-- VER TODOS ES DATO QUEMADO, NO TOCAR -->
                        <button class="@(idCategoria.Contains("*") ? "active" : string.Empty)" data-filter="*">Ver todo</button>


                        @foreach (var item in Model.categorias)
                        {
                            if (@item.Nombre.ToUpper().Equals("COMBOS"))
                            {
                            idCatCombos =@item.IdCategoria;
                            }
                            <button class="@(idCategoria.Contains(@item.IdCategoria) ? "active" : string.Empty)" data-filter=".@item.IdCategoria">@item.Nombre</button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!-- COMBOS -->

        
        <!-- ITERAR ACA LOS COMBOS DISPONIBLES EN EL SISTEMA-->
        <div class="row special-list">

            @foreach (var item in Model.combos)
            {
            <div class="col-lg-4 col-md-6 special-grid @idCatCombos">
                <!-- Despues de special-grid, se debe colocar "Combos" obligatoriamente, es estático.-->
                <div class="products-single fix">
                    <div class="box-img-hover">
                        <div class="type-lb">
                            <p class="sale">En venta</p>
                        </div>
                        <img src="@item.Imagen" style="width:350px;height:200px;" alt="">
                        <div class="mask-icon">
                            <a class="cart detalles" href="#"><i class="fas fa-eye"></i> Ver detalles</a>
                        </div>
                    </div>
                    <div class="why-text">
                        <h4>@item.Nombre</h4>
                        <h5> $@item.Precio</h5>
                    </div>
                </div>
            </div>
            }

            @foreach (var item in Model.productos)
            {

                <div class="col-lg-4 col-md-6 special-grid @item.IdCategoria">
                    <!-- Despues de special-grid, se debe colocar "Combos" obligatoriamente, es estático.-->
                    <div class="products-single fix">
                        <div class="box-img-hover">
                            <div class="type-lb">
                                <p class="sale">En venta</p>
                            </div>
                            <img src="@item.Imagen" style="width:350px;height:200px;" alt="">
                            <div class="mask-icon">
                                <a class="cart detalles" href="#"><i class="fas fa-eye"></i> Ver detalles</a>
                            </div>
                        </div>
                        <div class="why-text">
                            <h4>@item.Nombre</h4>
                            <h5>@item.Precio</h5>
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
<!-- End Products  -->
