@model RestauranteWeb.Models.ModelInicioCliente
@{
    ViewBag.Title = "Inicio";
}

<!-- Start Slider -->
<!-- EMPEZAR A ITERAR COMBOS AQUÍ -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        @foreach (var item in Model.combos)
        {
            <li class="text-center">
                <a class="detalles" href="#">
                    <img src="@item.Imagen" alt="">
                    <div class="container">
                    </div>
                </a>
            </li>
        }
       
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->
<!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>CATEGORÍAS</h1>
                    <hr />
                </div>
            </div>
            @foreach (var item in Model.categorias)
            {
                <!-- PUEDEN INICIAR A ITERAR CATEGORÍAS ACA -->
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div  class="shop-cat-box">
                        <img class="img-fluid" src="@item.Imagen" alt="" />
                        <!-- ENVIAR EN NOMBRECATEGORIA EL NOMBRE DE LA CATEGORIA QUE VIENE DESDE LA BD -->
                        <a class="btn hvr-hover" href="@Url.Action("Categorias", "Cliente", new {idCategoria = @item.IdCategoria})">@item.Nombre</a>
                    </div>
                </div>
             }
        </div>
        <hr />
    </div>
</div>
<!-- End Categories -->
