
@{
    ViewBag.Title = "Inicio";
}

<!-- Start Slider -->
<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <a href="#">
                <img src="~/Content/imagenes/Combos/DuoBurguesa.png" alt="">
                <div class="container">
                </div>
            </a>
        </li>
         
        <li class="text-center">
            <a href="#">
                <img src="~/Content/imagenes/Combos/Familiar.png"  alt="">
                <div class="container">
                </div>
            </a>
        </li>
        <li class="text-center">
            <a href="#">
                <img src="~/Content/imagenes/Combos/Economico.png"  alt="">
                <div class="container">
                </div>
            </a>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<!-- End Slider -->
<!-- Start Categories  -->
<div class="categories-shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title-all text-center">
                    <h1>CATEGORÍAS</h1>
                    <hr />
                </div>
            </div>
            <!-- ¡¡OJO!!: COMBOS NO ES CATEGORÍA COMO TAL EN LA BD, POR LO QUE DEBE IR COMO VALOR 'QUEMADO'-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div id="Combos" class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/imagenes/Categorias/Combos.png" alt="" />
                    <a class="btn hvr-hover" href="@Url.Action("Categorias", "Cliente", new {nombreCategoria="Combos"})">COMBOS</a>
                </div>
            </div>
            <!-- PUEDEN INICIAR A ITERAR CATEGORÍAS ACA -->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div id="Hamburguesas" class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/imagenes/Categorias/Hamburguesas.png" alt="" />
                    <!-- ENVIAR EN NOMBRECATEGORIA EL NOMBRE DE LA CATEGORIA QUE VIENE DESDE LA BD -->
                    <a class="btn hvr-hover" href="@Url.Action("Categorias", "Cliente", new {nombreCategoria="Hamburguesas"})">HAMBURGUESAS</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div id="Acompañamientos" class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/imagenes/Categorias/Acompañamientos.png" alt="" />
                    <!-- ENVIAR EN NOMBRECATEGORIA EL NOMBRE DE LA CATEGORIA QUE VIENE DESDE LA BD -->
                    <a class="btn hvr-hover" href="@Url.Action("Categorias", "Cliente", new {nombreCategoria="Acompañamientos"})">ACOMPAÑAMIENTOS</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div id="Ensaladas" class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/imagenes/Categorias/Ensaladas.png" alt="" />
                    <!-- ENVIAR EN NOMBRECATEGORIA EL NOMBRE DE LA CATEGORIA QUE VIENE DESDE LA BD -->
                    <a class="btn hvr-hover" href="@Url.Action("Categorias", "Cliente", new {nombreCategoria="Ensaladas"})">ENSALADAS</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div id="Bebidas" class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/imagenes/Categorias/Bebidas.png" alt="" />
                    <!-- ENVIAR EN NOMBRECATEGORIA EL NOMBRE DE LA CATEGORIA QUE VIENE DESDE LA BD -->
                    <a class="btn hvr-hover" href="@Url.Action("Categorias", "Cliente", new {nombreCategoria="Bebidas"})">BEBIDAS</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div id="Postres" class="shop-cat-box">
                    <img class="img-fluid" src="~/Content/imagenes/Categorias/Postres.png" alt="" />
                    <!-- ENVIAR EN NOMBRECATEGORIA EL NOMBRE DE LA CATEGORIA QUE VIENE DESDE LA BD -->
                    <a class="btn hvr-hover" href="@Url.Action("Categorias", "Cliente", new {nombreCategoria="Postres"})">POSTRES</a>
                </div>
            </div>
        </div>
        <hr />
    </div>
</div>
<!-- End Categories -->
